@import '@styles/imports';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 35rem;
  padding: 0 1rem;
  border-radius: 2rem;
  background: url('/themes/images/v2/voicerec-top-bg.png'),
    linear-gradient(to bottom, $white-50 80%, $purple-600 80%);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeInBlurForModals 0.4s forwards;
  outline: none;
  font-family: SegoeUI, $kaFont;

  @include mobile {
    max-width: 99%;
    height: 32rem;
  }

  @include smallWidth {
    height: 26rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 999;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-top: 2rem;
    flex: 8;

    .close {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 21px;
      height: 21px;
      background: url('/themes/images/v2/words-close.png') no-repeat;
      background-size: contain;
      cursor: pointer;
      opacity: 0.6;
      border: none;
      outline: none;

      @include mobile {
        background-size: 1rem;
      }
    }

    .parrot {
      position: absolute;
      bottom: 34px;
      left: 34px;
      width: 138px;
      height: 181px;
      background-image: url('/themes/images/v2/parrot-tiny.png');
      background-repeat: no-repeat;
      background-size: contain;

      @include mobile {
        background-size: 18vw;
        bottom: 0;
      }

      @include smallWidth {
        display: none;
      }
    }

    .title {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $purple-600;
      font-size: 1.1rem;

      @include mobile {
        font-size: 2.4vw;
      }

      .purpleMic {
        height: 2.5rem;
        width: auto;
      }
    }

    @mixin divider {
      content: ' ';
      display: inline-block;
      width: 32px;
      height: 2px;
      background-color: $purple-300;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: space-around;
      column-gap: 1rem;
      font-family: SegoeUI-SemiBold;
      color: $purple-300;
      font-size: 1.4rem;

      &::before,
      &::after {
        @include divider;
      }

      @include mobile {
        font-size: 3.2vw;
      }
    }

    ul {
      transform: translateX(-5rem);
      list-style-type: none;
      flex-wrap: wrap;

      li {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
        color: $black-800;
        font-size: 18px;
        margin-bottom: 12px;
        white-space: nowrap;

        &::before {
          content: '';
          display: block;
          width: 14px;
          height: 15px;
          background: url('/themes/images/v2/voicerec-list-img.png') no-repeat;
          background-size: contain;
          float: left;
        }

        .colored {
          color: $purple-300;
        }

        @include mobile {
          font-size: 2.65vw;
        }
      }

      @include mobile {
        transform: translateX(-2rem);
      }
    }
  }

  .bottom {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
    button {
      border: 2px solid $white;
      background-color: $purple-600;
      background-image: url('/themes/images/v2/voicerec-mic-white.png');
      background-repeat: no-repeat;
      background-position: 285px center;
      border-radius: 2rem;
      padding: 16px 75px 12px 34px;
      color: $white;
      font-size: 22px;
      font-family: 'BPG Nino Mtavruli Bold';
      transition: all 0.2s linear;
      cursor: pointer;

      @include mobile {
        font-size: 1rem;
        background-position: 12rem center;
        padding: 0.6rem 4rem 0.4rem 1rem;
      }
    }
  }
}
