@import '@styles/imports';

.container {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;

  // &:hover{
  //   transform: translateY(-0.03rem);
  // }
}

.certificateButton {
  border: 0.125rem solid $orange-500;
  border-radius: 1.25rem;
  color: $white;
  background-color: $orange-500;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4375rem 3rem 0.4375rem 1rem;
  transition: all 0.2s linear;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.02rem;
  font-family: SegoeUI, $kaFont;


  &:hover {
    border-color: $orange-450;
    background-color: $orange-450;
    box-shadow: 0 0.125rem 0.625rem rgba($black, 0.08);
  }

  @include mobile {
    padding: 0.3rem 1.8rem 0.3rem 0.8rem;
  }

  .thirdButton {
    @extend .certificateButton;

    background-color: $purple-700;
    border: 2px solid $purple-700;

    &:hover {
      border-color: $purple-600;
      background-color: $purple-600;
      box-shadow: 0 0.125rem 0.625rem rgba($black, 0.08);
    }
  }

  .imgContainer {
    position: absolute;
    right: -1rem;
    top: -1rem;
    cursor: pointer;

    @include mobile {
      right: -1rem;
      top: -0.5rem;
    }
  }
}

.imgContainer {
  position: absolute;
  right: -1rem;
  top: -1rem;
  cursor: pointer;

  @include mobile {
    right: -1rem;
    top: -0.5rem;
  }
}

.img {
  width: 4rem;
  height: 4rem;

  @include mobile {
    width: 3rem;
    height: 3rem;
  }
}
