@import '@styles/imports';

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: 12vh;

  img {
    width: clamp(4rem, 40vw, 16rem);
  }

  h3 {
    font-family: SegoeUI-SemiBold, $kaFont;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    text-align: center;
    color: $grey-700;
  }

  .instruction {
    margin-top: -0.35rem;
  }

  .add_lang {
    width: clamp(14rem, 50vw, 20rem);
  }
}
