@import '@styles/imports';

.showContainer {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  top: 50%;
}

.showText {
  position: relative;
  width: 12rem;
  height: 1rem;
  text-align: center;
  text-wrap: nowrap;
  transform: rotate(270deg);
  margin-right: -4.8rem;
  background: none;
  border: none;
  font-family: SegoeUI, $kaFontTitle;
  color: $purple-500;
  cursor: pointer;

  @include mobile {
    display: none;
  }
}

.hideText {
  position: relative;
  transform: rotate(270deg);
  margin-right: 38rem;
  top: 50%;
  left: 50%;
  background: none;
  border: none;
  font-family: SegoeUI, $kaFontTitle;
  color: $purple-500;
  cursor: pointer;
  z-index: 12;

  @include mobile {
    margin-right: 40.2rem;
  }
  @include smallWidth {
    margin-right: 39.5rem;
  }
}

.showButton {
  height: 1.5rem;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url('/assets/images/rectangle_top.png');
  cursor: pointer;

  @include mobile {
    display: none;
  }
}

.hideButton {
  position: absolute;
  right: 17.1rem;
  height: 1.5rem;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url('/assets/images/rectangle_top2.png');
  cursor: pointer;
  z-index: 130;

  @include mobile {
    right: 18.2rem;
  }
  @include smallWidth {
    background-size: 0.6rem auto;
    right: 17.8rem;
  }
}

.container {
  position: fixed;
  width: 14rem;
  right: 0;
  top: 0;
  margin-top: 14vh;
  font-family: SegoeUI, $kaFont;
  font-size: 0.85rem;
  margin-right: 3rem;
  overflow-x: hidden;
  transform: translateX(130%);
  transition: transform 0.4s ease-out;
  z-index: 10;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(60 64 67 / 5.2%),
    0 4px 8px 1px rgba(60 64 67 / 5.9%);

  &.show {
    transform: translateX(0);
  }

  @include mobile {
    margin-right: 0;
    width: 18rem;
    margin-top: 11vh;
    box-shadow: 0 1px 3px 0 rgba(60 64 67 / 10.2%),
      0 4px 8px 1px rgba(60 64 67 / 10.9%);
  }
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  height: 1.4rem;

  button {
    cursor: pointer;
    margin-top: 0.2rem;
    border: none;
    background-repeat: no-repeat;
  }
}

.buttonLeft {
  background: none;
  background-image: url('/assets/images/rectangle_top.png');
}

.buttonRight {
  background: none;
  background-image: url('/assets/images/rectangle_top2.png');
}

.title {
  color: $purple-500;
  font-size: 0.9rem;
  padding-top: 0;
  font-family: SegoeUI, $kaFontTitleBold;
}

.usersContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 73.5vh;
  gap: 1rem;
  opacity: 1;
}

.userWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 0.5rem;
}

.image {
  border-radius: 3rem;
}

.position {
  position: absolute;
  background-color: $orange-200;
  border-radius: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.1rem;
  color: $orange-500;
  font-size: 0.8rem;
}

.name {
  color: $grey-800;
  margin-bottom: 0.4rem;
}

.ratingTitle {
  color: $grey-300;
}

.rating {
  padding: 0 0.4rem 0.1rem;
  border-radius: 1rem;
  background-color: $purple-200;
  color: $white;
}
.containerWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  &.withBlur {
    @include mobile{
    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 99999;
  }
  }
}