@import '@styles/imports';

.container {
  font-family: $kaFont;
  background-color: #fff;
  border-radius: 1.6rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: left;
}

.title {
  position: sticky;
  font-family: $kaFontTitle;
  color: $purple-600;
  text-align: center;
  font-size: 1.5rem;
  top: 0;
  background-color: $white;
  padding: 1rem 0;

  @include mobile {
    font-size: 1.3rem;
  }
}

.grammarTitle {
  display: flex;
  border: none;
  border-bottom: 0.1rem solid $white-100;
  color: $purple-500;
  justify-content: space-between;
  padding: 1.3rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  background: none;
  text-align: left;

  @include mobile {
    font-size: 0.9rem;
    padding: 1rem 0.3rem;
  }

  &:hover {
    color: $purple-300;
  }

  /* Icon */
  &::after {
    margin-top: auto;
    margin-bottom: auto;
    content: '\276F';
    text-align: center;
    transition: all 0.3s;
  }

  &.open {
    color: $purple-300;

    &::after {
      transform: rotate(90deg);
    }
  }
}

.wrapper:nth-child(even) {
  background: $orange-10;
}

.grammar {
  height: 0;
  opacity: 0;
  color: $black-800;
  font-family: SegoeUI-SemiBold;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0 3rem 0 2rem;
  transition: 0.4s ease;

  @include mobile {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0 0.1rem 0.1rem 0;
  }

  &.open {
    opacity: 1;
    height: auto;
    padding: 1.5rem 3rem 1.5rem 2rem;
    transition: 0.4s ease;
    background: $white;

    @include mobile {
      padding: 1rem 0.1rem;
    }
  }
}
