@import '@styles/imports';

.mostPopular__text {
  position: absolute;
  padding: 0.7rem;
  text-align: center;
  height: 4rem;
  top: -3rem;
  width: calc(100% + 0.6rem);
  color: $white;
  border-radius: 0.9rem 0.9rem 0 0;
  background-color: $orange-500;
  font-size: 1.2rem;
  font-family: 'BPG Nino Mtavruli Bold';

  @include mobile {
    font-size: 1rem;
    height: 3rem;
    top: -2.5rem;
    &:lang(ka) {
      font-size: 0.7rem;
    }
  }
  // @include smallWidth {
  //   &:lang(ka) {
  //     font-size: 1rem;
  //   }

  // }
}

.mostPopular__text__freeTrial {
  padding-top: 1rem;
  border-radius: 0.9rem 0.9rem 0 0;
  top: -3rem;
  font-size: 1rem;
  @include tablet {
    font-size: 0.7rem;
  }
  @include mobile {
    font-size: 0.8rem;
  }
  @include smallWidth {
    padding-top: 0.5rem;
    top: -2rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }
}
