@import '@styles/imports';

.container {
  margin: auto;
  display: flex;
  align-self: center !important;
  justify-self: center !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SegoeUI, $kaFont;
  height: 30rem;
  min-width: 45rem;
  border-radius: 2.5rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  background-color: $white;
  gap: 2rem;
  text-align: center;
  z-index: 1;

  &.true {
    display: none;
  }

  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }

  @include mobile {
    height: 100%;
    width: 100%;
    min-width: 0;
    border-radius: 0;
  }
}

.header {
  width: 85%;
  font-size: 2rem;
  color: $grey-800;
}

.checkContainer {
  display: flex;
  flex-direction: column;
  width: 18.5rem;
}

.buttonContainer {
  background: url('/assets/images/prepare_bg.png') no-repeat;
  width: 100%;
  height: 7.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 1rem auto 0;
}

.soundButton {
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  background: url('/assets/images/prepare_sound_play.png') center no-repeat;
  background-color: $orange-500;
  border-radius: 6.3rem;
  border: none;

  &:hover {
    background-color: $yellow-600;
    box-shadow: 1px 2px 1px $grey-100;
  }
}

.label {
  color: $grey-800;
  margin-top: 1rem;
}

.startButton {
  width: 13rem;
  height: 2.4rem;
  border-radius: 1.63rem;
  cursor: pointer;
  border: 0;
  color: $white;
  font-size: 1rem;
  font-family: SegoeUI, $kaFontTitle;
  background: linear-gradient(to right, $purple-500 50%, $white-200 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1.4s ease-out;

  &.slideOut {
    background-position: left bottom;
  }
}
