@import '@styles/imports';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  animation: fadeInBlurForModals 0.4s forwards;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.25);
}

.wrapper {
  position: relative;

  .stars {
    position: absolute;
    top: -1.4rem;
    right: -9rem;
    transform: translateX(-50%);
    width: 15rem;
    height: auto;

    @include mobile {
      width: 12rem;
      height: auto;
      top: -1rem;
      right: -7rem;
    }

    @include smallWidth {
      display: none;
    }
  }
}

.container {
  display: flex;
  position: relative;
  padding: 1rem;
  max-width: 35rem;
  height: fit-content;
  background-color: $white-50;
  border-radius: 2rem;
  padding: 2rem;

  &:lang(ka) {
    font-family: $kaFont;
  }

  button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: $grey-100;
    cursor: pointer;
    z-index: 10;
  }

  p {
    color: $grey-800;
  }

  .leftSide {
    width: 50%;

    .title {
      display: flex;
      column-gap: 1rem;
      color: $grey-800;
      margin: 0;
    }

    .logo {
      width: 10rem;
      height: auto;

      @include mobile {
        width: 7rem;
      }
    }

    @include smallWidth {
      width: 100%;
    }
  }

  .facebook {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    background-color: $orange-650;
    text-decoration: none;
    color: $white;
    padding: 0.6rem 0.1rem;
    width: 12rem;
    border-radius: 3rem;
    margin-top: 2rem;

    .facebookLogo {
      position: absolute;
      left: 1.5rem;
    }
  }
}
